<div class="container">
    <div class="row">
    <div class="col-8">
    <img src="assets/images/tourguide.jpg" alt="tourguide">
    <div class="tittle">
    <p class="name">Wael Ahmed</p>
    <div class="totalprice">
     <p class="price">$90/</p>
     <p class="half">per person</p>
    </div>
    </div>
    <!--------------------------------------------- rate ---------------------------------------------------->
    <div class="rate">
    </div>
    <!------------------------------------------- location -------------------------------------------------->
    <div class="location">
    <img src="assets/images/location.png" alt="location icon">
    <p>Cairo, Egypt</p>
    </div>
    <!---------------------------------------------language ------------------------------------------------>
    <div class="language">
    <img src="assets/images/global.png" alt="global">
    <p>English, Spanish, French, Portuguese</p>
    </div>
    <hr>
    <!----------------------------------------------- acordion -------------------------------------------->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                About wael ahmed
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a typ</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                What you will experience
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              The tourist will enjoy a diverse and immersive experience, including sightseeing, adventure activities, cultural exploration, culinary delights, and leisure. Guided by a knowledgeable tour guide, they'll have the opportunity to discover iconic landmarks, delve into history and culture, sample local cuisine, shop for souvenirs, and create lasting memories of their journey.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What's include? 
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">City tour, including landmarks and local cuisine,Visits to distant attractions and adventure activities.
              Exploration of historical and cultural landmarks, museums, and shopping.
              Shopping for souvenirs and additional landmark visits.
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------- card  ------------------------------------------------->
    <div class="col-4">
    <div class="card">
    <h4 class="tittle">Book your guide</h4>  
    <div class="totalprice2">
        <p class="price1">$90/</p>
        <p class="half1">per person</p>
    </div>
    <!----------------------------------------------- date -------------------------------------------------->
    <label id="date" for="date">Select your date</label>
    <div class="date">
    <input type="date">
    </div>
    <!----------------------------------------------- date -------------------------------------------------->
    <label id="date" for="date">Select your Time</label>
    <div class="date">
    <input type="time">
    </div>
    <!-------------------------------------------------- button ------------------------------------------------->
    <button class="btn">
     BOOK
    </button>
    </div>  
    <!--------------------------------------------------------card2 ----------------------------------------------->
    <div class="card" id="card2">
    <h4>Clients say about wael ahmed</h4>
    <div>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <p id="comment">The tour was very well organised. One minus is that you get completely bombarded with information. You also have to stand up for too long  the private entrance to the Towe</p>
    <!-- <div class="review">
    <div class="prof">
      <img src="assets/images/profile 2.png" alt="profile">
    </div>
    <div>
    <p id="name">Devon Lane</p>
    <p id="month">2 October 2012</p>
    </div>
    </div> -->
    </div>
     <!-------------------------------------------------------- -----------------------------------------------> 
    </div>   
    </div>
    <!-------------------------------------------- videos -------------------------------------------------->
    <div class="guide content">
    
    </div>
    </div>
