<section class="ezy__profile d-flex align-items-center justify-content-center">
  <div class="total">
    <!--Image-->
    <div class="ImgProf">
      <div class="pic"><img src="assets/images/me.jpg" /></div>
      <h4>{{userName}}</h4>
      <div class="loc-bd">
        <h6><img  class="loc" src="./assets/images/loca.jpeg" /> {{location}} | <img src="assets/images/cake.jpeg" /> {{DB}}</h6>
     </div>
      <div class="ph">
        <h6 class="ph">{{phone}}</h6>
     </div>
      <!-- Rectangle -->
      <div class="rect"></div>
      <!-- Personal Info -->
      <div class="title1">
        <h3>Favorites</h3>
      </div>
      <div class="But-Fav">
        <button class="p" [routerLink]="['/profile']">Personal Info</button>
        <button class="b" [routerLink]="['/booking']">Booking History</button>
        <button class="f" [routerLink]="['/favorite']">Favorite</button>
        <button class="ex" [routerLink]="['/userexperience']">Share Experience</button>
        <button class="L" [routerLink]="['/logout']">Log Out</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5 d-none d-lg-block">
    <div class="d-flex align-items-center h-100">
    </div>
  </div>
</section>
