<!-- <table class="table table-bordered">


    
    <thead class="">
      <tr class="Tablehead">
     
            <div>
             <i class="fa-solid fa-check"></i>
            </div>

            <div>
            <h2>Your booking is confirmed</h2>
            <p>Featuring free WIFI throughout the property, Lakeside Motel Waterfront offers accommodations in Lakes Entrance, </p>
            </div>
      </tr>
    </thead>
    <tbody>

       <tr>
        <h2>
            Booking Details
        </h2>
        
       </tr>


      <tr>
        <td>123456</td>
        <td>John Doe</td>
        <td>2024-05-01</td>
      </tr>

      <tr>
        <td>123456</td>
        <td>John Doe</td>
        <td>2024-05-01</td>
      </tr>

    </tbody>
  </table> -->

<div class="confirmation">
    <!-------------Starthead---------------->
    <div class="d-flex Tablehead">
        <div class="iconContainer">
            <i class="fa-solid fa-check Icon"></i>
        </div>

        <div class="mb-1 gap-1 mt-2">
            <h2>Your booking is confirmed</h2>
            <p>
                Featuring free WIFI throughout the property, Lakeside Motel Waterfront
                offers accommodations in Lakes Entrance,
            </p>
        </div>
    </div>

    <!-----------------End-Head---------------------------->
    <!--------------------Staet-Body-------------------------->
    <div class="body boxcontainer">

        <div class="row mt-4 mb-4 ">
            <h4>Booking details</h4>
        </div>
        <!--------Rows Details----------->
        <div class="d-flex gap-5 mt-4 ml-3 ">
            <div class=" box">
                <h6>Check.In </h6>
                <p>
                    Sun,22 may 2024
                    from 16:00
                </p>
            </div>
            <div class=" box ">
                <h6>Check.Out </h6>
                <p>
                    Wed,25 may 2024
                    by 11:00
                </p>
            </div>

            <div class=" box ">
                <h6>Your Reservation </h6>
                <p> 3nights.1bedrom</p>

            </div>


        </div>

        <div class="d-flex gap-5 mt-4 mb-4">
            <div class=" box  ">
                <h6>Your Name </h6>
                <p>
                    bashayertarek
                </p>
            </div>
            <div class=" box ">
                <h6>Phone </h6>
                <p>
                    +96-7644-39468
                </p>
            </div>

            <div class="box">
                <h6>Email</h6>
                <p> bashayertarek.com </p>

            </div>


        </div>
        <div class="box">
            <h4>ConfCode</h4>
            <p>#24783791</p>
        </div>


    </div>
</div>

