
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.cardcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 350px;
    height: 600px;
    border-radius: 24px;
    border: 1px solid #EFEFEF;
    box-shadow: 10px 10px 10px 10px #A9CEF438;
}
.card img {
    border-radius: 16px;
    width: 330px;
    height: 200px;
    margin-top: 10px;
    margin-left: 8px;
}
.card h5 {
    width: 350px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #363636;
}

.card p {
    width: 300px;
    height: 180px;
    font-family: "Montserrat", sans-serif;
    color: #767681;
}

.card .arrow {
    width: 200px;
    height: 25px;
    position: relative;
    left: 100px;
    top: 50px;
}
.search input{
position: absolute;
right: 60px;
border-radius: 23px;
border-color: #C89666;
margin-top: 5px;
width: 200px;
transition: border-color 0.3s;
color: #C89666;
height: 45px;
}
.pagination li{
background-color:#C89666;
border-color: #EFEFEF;
color: #EFEFEF;
}

.pagination{
margin-top: auto;
}
