<div class=" box-fluid">
  <h2 class="card-title">Available Hotels</h2>
  <div class="container ">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (8).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>

    <!-------------------End of Cared1-------------------------------->

    <!-------------------------------Start of card2--------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text f-right" style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------------------------End of card2-------------------------->
    <!--- --------start of card 3-------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (9).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!----------------------End of card3------------------------------------>

    <!-----------------------start card4---------------------------------->


    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (10).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>
        <div class="icon-container">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>

    <!-------------------------Eend card4--------------------------------------------->

    <!--------------------------start of card5---------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (8).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!-----------------the end of card5------------------------------------------->
    <!---------------start of card 6--------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />


      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text f-right" style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end of card 6 --------------------------------------------->

    <!---------------start-------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (9).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text " style="float: right;">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end --------------------------------------------->
    <!---------------start-------------------------------------------->
    <div class="card" style="width: 18rem">

      <img src="/assets/images/Rectangle 9570 (10).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi wifiIcon"></i>
            <span class="wifiText"> WIFI</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-car-side Transporticon"></i>
            <span class="transporContent"> Transport Facility</span>
          </div>
          <br>
          <div class="icon-text-row">
            <i class="fa fa-user-group familyicon"></i>
            <span class="familyPlanContent">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end --------------------------------------------->
    <!-- <div class="card" style="width: 18rem">
    <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h4 class="card-title">
        Hotel Alaska: Westminster to Greenwich River Thames
      </h4>

      <div class="icon-container  ">
        <div class="icon-text-row">
          <i class="fa fa-wifi wifiIcon"></i>
          <span class="wifiText"> WIFI</span>
        </div>
        <br>
        <div class="icon-text-row">
          <i class="fa fa-car-side Transporticon"></i>
          <span class="transporContent"> Transport Facility</span>
        </div>
        <br>
        <div class="icon-text-row">
          <i class="fa fa-user-group familyicon"></i>
          <span class="familyPlanContent">Family Plan </span>
        </div>
        <p class="text " style="float: right">$35.00</p>
      </div>
    </div>
  </div> -->
  </div>
</div>