<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img src="/src/assets/images/card1.png" class="card-img-top " alt="...">
    <div class="card-body">
      <h3 class="card-title">Hotel Alaska: Westminster to Greenwich River Thames</h3>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p> -->
    </div>
    <!-- <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul> -->
    <div class="card-body">
      <i class="bi bi-wifi"></i>
    </div>
  </div>
  <!--End of Cared1  -->

  <!--Start of card2--->

  <!--End of card2-->
  <!--- start of card 3     -->

  <!--  End of card 3-->
</div>