.container {
    display:  flex;
    flex-wrap:wrap;
    justify-content:center;
   gap: 40px;
}

.card {
    width: 400px;
    height: 495px;
    top: 1053px;
    left: 40px;
    gap: 0px;
    border-radius: 24px;
    border: 1;
    opacity: 0px;
    border: 1px solid rgba(239, 239, 239, 1);
    box-shadow: 4px 15px 64px 0px rgba(169, 206, 244, 0.22);

}

.card img {
    width: 270px;
    height: 220px;
    margin-top: 10px;
    margin-left: 9px;
    border-radius: 16px;
    opacity: 0px;
    gap: 0px;
}

.hotelsDesc {
    width: 226px;
    height: 44px;
    top: 272px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    font-family:' Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    background: #181818;
    box-shadow: 0px 5px 13px 0px #FFFFFF66;
}

.icon-text-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wifiIcon {
    width: 15.08px;
    height: 12px;
    top: 3px;
    left: 0.46px;
    gap: 0px;
    opacity: 0px;
    color: #5CC1DA;

}

.wifiText {
    width: 29px;
    height: 17px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #767681;


}

.Transporticon {
    width: 19.6px;
    height: 14px;
    top: 353px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    color: #5CC1DA;

}

.transporContent {
    width: 116px;
    height: 17px;
    top: 351px;
    left: 33px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: rgba(118, 118, 129, 1);


}

.familyicon {
    width: 19.09px;
    height: 14px;
    top: 380px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    color: #5CC1DA;

}

.familyPlanContent {
    width: 75px;
    height: 17px;
    top: 378px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: rgba(118, 118, 129, 1);


}