<section class="ezy__signup14 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5 col-md-12 w-100">
        <div class="ezy__signup14-form-card d-flex justify-content-center"
        
        >
          <div class="row">
            <div class="col-12 col-lg-7"  >
              <div
                class="d-flex flex-column justify-content-center align-items-center text-center h-100 p-2"
                
                >
                <div class="title">
                  <h3>Welcome to Egy<span class="image-letter"></span>opia</h3>
                </div>
                <form
                  (ngSubmit)="onSubmit()"
                  [formGroup]="registerForm"
                  class="mt-5"
                >
                  <div class="form-group d-flex mb-5">
                    <div  class="w-50 me-2">
                      <input
                        formControlName="firstName"
                        type="text"
                        class="form-control w-100 h-100"
                        id="firstName"
                        placeholder="First Name"
                      />
                      <div
                        *ngIf="
                          registerForm.get('firstName')?.errors &&
                          registerForm.get('firstName')?.touched
                        "
                        class="alert-danger p-1"
                      >
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('firstName')?.getError('required')
                          "
                        >
                          First Name is required
                        </p>
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('firstName')?.getError('minlength')
                          "
                        >
                         Minimumlength is 3
                        </p>
                      </div>
                    </div>
                    <div class="w-50 " >
                      
                        <input
                        formControlName="lastName"
                          type="text"
                          class="form-control w-100 h-100"
                          id="lastName"
                          placeholder="Last Name"
                        />
                        <div
                        *ngIf="
                          registerForm.get('lastName')?.errors &&
                          registerForm.get('lastName')?.touched
                        "
                        class="alert-danger p-1"
                      >
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('lastName')?.getError('required')
                          "
                        >
                          Last Name is required
                        </p>
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('lastName')?.getError('minlength')
                          "
                        >
                        Minimumlength is 3
                        </p>
                      </div>
                      
                      
                    </div>
                  </div>
                  <div class="form-group position-relative mb-5">
                    <div style="height: 35px">
                      <input
                      formControlName="email"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email Address"
                      />
                      <i class="fas fa-envelope ezy__signup14-icon"></i>

                      <div
                        *ngIf="
                          registerForm.get('email')?.errors &&
                          registerForm.get('email')?.touched
                        "
                        class="alert-danger p-1"
                      >
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('email')?.getError('required')
                          "
                        >
                          Email is required
                        </p>
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('email')?.getError('email')
                          "
                        >
                          
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group position-relative mb-5">
                    <div>
                      <select class="form-select" id="country">
                        <option value="" disabled selected>
                          Select Country
                        </option>
                        <option value="USA">United States</option>
                        <option value="CAN">Canada</option>
                        <option value="GBR">United Kingdom</option>
                        <option value="AUS">Australia</option>
                        <option value="DEU">Germany</option>
                        <option value="FRA">France</option>
                        <option value="JPN">Japan</option>
                        <option value="CHN">China</option>
                        <option value="IND">India</option>
                        <option value="BRA">Brazil</option>
                        <option value="MEX">Mexico</option>
                        <option value="ITA">Italy</option>
                        <option value="ESP">Spain</option>
                        <option value="RUS">Russia</option>
                        <option value="KOR">South Korea</option>
                        <option value="IDN">Indonesia</option>
                        <option value="NGA">Nigeria</option>
                        <option value="ETH">Ethiopia</option>
                        <option value="EGY">Egypt</option>
                        <option value="ZAF">South Africa</option>
                        <option value="KEN">Kenya</option>
                        <option value="GHA">Ghana</option>
                        <option value="UGA">Uganda</option>
                        <option value="CHN">China</option>
                        <option value="JPN">Japan</option>
                        <option value="KOR">South Korea</option>
                        <option value="IND">India</option>
                        <option value="PAK">Pakistan</option>
                        <option value="BGD">Bangladesh</option>
                        <option value="PHL">Philippines</option>
                        <option value="VNM">Vietnam</option>
                        <option value="THA">Thailand</option>
                      </select>
                      <i class="ezy__signup14-icon"></i>
                    </div>
                  </div>
                  <div
                    for="phoneNumber"
                    class="form-group position-relative mb-5"
                  >
                    <input
                      formControlName="phoneNumber"
                      type="text"
                      class="form-control"
                      id="phoneNumber"
                      placeholder="Phone Number"
                    />
                    <i class="ezy__signup14-icon"></i>
                  </div>
                  <div class="form-group position-relative mb-5">
                    <div style="height: 35px">
                      <input
                      formControlName="password"
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                      />
                      

                      <div
                        *ngIf="
                          registerForm.get('password')?.errors &&
                          registerForm.get('password')?.touched
                        "
                        class="alert-danger p-1"
                      >
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('password')?.getError('required')
                          "
                        >
                          Password is required
                        </p>
                        <p
                          class="m-0"
                          *ngIf="
                            registerForm.get('password')?.getError('minLength')
                          "
                        >
                          Minimumlength is 8
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group position-relative mb-5">
                    <div style="height: 35px">
                      <input
                      formControlName="confirmPassword"
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        placeholder="Confirm Password"
                      />
                      <div
                        *ngIf="
                         registerForm?.errors?.['mismatch'] && registerForm?.touched
                        "
                        class="alert-danger p-1"
                      >
                        Password must match
                      </div>
                    </div>
                  </div>
                  <div class="form-group form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="privacyPolicyCheckbox"
                    />
                    <label class="form-check-label" for="privacyPolicyCheckbox"
                      >You agree to our friendly
                      <a href="#!">privacy policy</a>.</label
                    >
                  </div>
                  <button
                    type="submit"
                    class="btn ezy__signup14-btn-submit mt-3"
                  >
                    Register <i class="fas fa-arrow-right"></i>
                  </button>
                  <div class="mt-2">
                    <p class="mb-0 small">
                      Alrelady have an account? <a href="#!">Log In</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div 
           
            class="col-12 col-lg-5 d-none d-lg-block">
              <div 
             
                class="d-flex align-items-center  h-100"
              >
                <img src="\assets\images\signin image.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
