.container-fluid {
  background-color: white;
}
.heading {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.card {
  border-radius: 10px !important;
  margin-top: 150px; 
  margin-bottom: 50px;
  width: 810px;
  border: none;
}
.form-card {
  margin-left: 20px;
  margin-right: 20px;
}
.form-card input,
.form-card textarea {
  padding: 10px 15px 5px 15px;
  border: none;
  border:  0px solid #EAFBFF;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: arial;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}
.form-card input:focus,
.form-card textarea:focus {
  -moz-box-shadow: 0px 0px 0px 1.5px skyblue !important;
  -webkit-box-shadow: 0px 0px 0px 1.5px skyblue !important;
  box-shadow: 0px 0px 0px 1.5px skyblue !important;
  font-weight: bold;
  border: 1px solid  #2D545E;
  outline-width: 0;
 border-radius: 8px; 
}
.input-group {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.input-group input {
  position: relative;
  height: 80px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 6px;
  padding-top: 30px;
  padding-left: 25px;
}
.input-group label {
  position: absolute;
  height: 24px;
  background: none;
  border-radius: 6px;
  line-height: 48px;
  font-size: 15px;
  color: black;
  width: 100%;
  font-weight: 100;
  padding-left: 25px;
}
input:focus + label {
  color:    #2D545E;
}
.btn-pay {
  background-color: #57ACC1;
  height: 64px;
  color: #ffffff !important;
  font-weight: bold;
}
.btn-pay:hover {
  background-color:  #2D545E;
  ;
}
.fit-image {
  width: 100%;
  object-fit: cover;
}
img {
  border-radius: 5px;
}
.heading-payment{
background-color: #5CC1DA;
border-radius: 10px 10px 0px 0px !important;
margin-bottom: 35px;
height: 70px;

}
.heading-payment h4 {
    color: white;
    font-weight: 900;
    font-size: 24px;
}
/*------------------------card--Styling-------------------*/
.card-container {
  
    position: absolute;
    left: 1150px;
    top: 130px;
    margin-right: 20px;
    width: 349px;
    height: 550px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 15px 64px 0px rgba(169, 206, 244, 0.12);
    justify-content: space-between;

}

/*------------------------------------------Card-title--styling----------------------------------------------*/

.card-title {
    width: 220px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 400;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(24, 24, 24, 1);

}

/*------------------------------------------Card-body-Styling--------------------------------------------------*/

.upper {
    justify-content: left;
    width: 265px;
    height: 248px;
    margin-top: 10px;
    margin-right: 20px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background: rgba(255, 255, 255, 0.26);

}

/*----------------------------------------Date-reservation------------------------------------------------------*/

.box {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.date {

    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: rgba(55, 56, 56, 1);


}

.divider {
    width: 48px;
    height: 0px;
    gap: 0px;

    opacity: 0px;
    color: rgba(92, 193, 218, 1);
    rotate: -90deg;
    border: 2px solid rgba(92, 193, 218, 1)
}



.total {
    margin-left: 10px;
    margin-right: 70px;
}

.Total {
    margin-right: 90px;
    justify-content: left;

}

.card-titels {
    display: block;
    height: 17px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: rgba(4, 127, 158, 1);
    margin-right:40px;

}

/*----------------section2---------------*/
.section2 {
    justify-content: left;
    margin-bottom: 70px;
    margin-top: 0px;

}



.section2 p {
    width: 820px;
    height: 15px;
    top: 213px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(55, 56, 56, 1);
    display: block;
}

/*-------------------section3-styling--------------------*/
.section3 {
    display: block;
    width: 400px;
    height: auto;

}
/*------------------left&right sides in section3-----------------------*/
.Left {
 
    width: 150px;
    height: 24px;
    margin-right: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(24, 24, 24, 1);

}
.Right{
 width: 49px;
height: 15px;
margin-left: 30px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 15px;
text-align: left;
color: rgba(55, 56, 56, 1);

}

/*------------total price --------------*/
.last{
   display: flex;
height: 15px;
justify-content: space-between;
opacity: 0px;
margin-bottom: 40px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 15px;
text-align: left;
color: rgba(55, 56, 56, 1);

}
/*----------------------------------------Card-botton--styling----------------------------------------------------*/
.botton {
    width: 250px;
    height: 40px;
    padding: 9px 50px 11px 50px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    color: #fff;
    background: rgba(87, 172, 193,1);

}
/*---------------------------------*/
.icon{
  margin-top: 8px;
}
#Total-p{
  margin-top: 20px;
}