<div class="container">
    <div class="card" style="width: 18rem;">
      <a routerLink="/tourguide">
        <img src="assets/images/tourguidephoto1.jpeg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Wael Ahmed</h5>
        <div id="location">
          <img src="assets/images/location.png" alt="location icon">
          <p>Cairo, Egypt</p>
          </div>
          <div id="language">
            <img src="assets/images/global.png" alt="location icon">
            <p>English, Spanish, French, Portuguese</p>
            </div>
      </div>
    </div>
  <!-------------------------------------------- card2 -------------------------------------------->
  
    <div class="card" style="width: 18rem;">
      <a routerLink="/tourguide">
        <img src="assets/images/tourguidephoto2.jpeg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Wael Ahmed</h5>
        <div id="location">
        <img src="assets/images/location.png" alt="location icon">
        <p>Cairo, Egypt</p>
        </div>
        <div id="language">
          <img src="assets/images/global.png" alt="location icon">
          <p>English, Spanish, French, Portuguese</p>
          </div>
      </div>
    </div>
  <!-------------------------------------------- card3-------------------------------------------->
    <div class="card" style="width: 18rem;">
      <a routerLink="/tourguide">
        <img src="assets/images/tourguidephoto3.jpeg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Wael Ahmed</h5>
        <div id="location">
          <img src="assets/images/location.png" alt="location icon">
          <p>Cairo, Egypt</p>
          </div>
          <div id="language">
            <img src="assets/images/global.png" alt="location icon">
            <p>English, Spanish, French, Portuguese</p>
            </div>
      </div>
    </div>
    <!-------------------------------------------- card4 -------------------------------------------->
  
    <div class="card" style="width: 18rem;">
      <a routerLink="/tourguide">
        <img src="assets/images/tourguidephoto1.jpeg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">Wael Ahmed</h5>
        <div id="location">
        <img src="assets/images/location.png" alt="location icon">
        <p>Cairo, Egypt</p>
        </div>
        <div id="language">
          <img src="assets/images/global.png" alt="location icon">
          <p>English, Spanish, French, Portuguese</p>
          </div>
      </div>
    </div>
    
</div>
