mat-horizontal-stepper {
  background-color: #fff;

  /*-----------Lables-styling--------------*/
  ::ng-deep .mat-step-label {
    color: #000;
  }

  /*----------active lable styling---------------*/


  ::ng-deep .mat-step-label-selected {
    color: rgba(26, 178, 114, 1);



  }

  ::ng-deep .mat-step-label-active {
    color: rgb(22, 136, 165);




  }

  /*------------icon styling-------------*/

  ::ng-deep .mat-step-icon-selected {
    color: #fff;
    background-color: rgb(22, 136, 165);

    border-radius: 2px;
   
  }

  ::ng-deep .mat-step-icon-active {
    color: #fff;
    background-color: rgba(26, 178, 114, 1);

  }





  ::ng-deep .mat-stepper-horizontal-line {
    border-top-color: #439f47;
    border: 1px solid #439f47;
    width: 30px;
  }


  ::ng-deep .mat-horizontal-stepper-header-container {
    justify-content: space-between;
  }

  ::ng-deep .mat-step-icon{
    border-radius: 4px;
    border: 1px solid rgba(234, 251, 255, 1); 
    box-shadow: 4px 15px 64px 0px rgba(169, 206, 244, 0.22);
   
  }


}