.container {
    display: flex;
    flex-wrap:wrap;
    gap: 15px;

}

h3 {
    width: 186px;
    height: 29px;
    margin-left: 10px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    color: rgba(24, 24, 24, 1);
        

}


.card {
    width: 230px;
    height: 390px;
    border-radius: 24px;
    opacity: 0px;
    border: 1px solid rgba(239, 239, 239, 1);
    box-shadow: 15px 15px 15px rgba(169, 206, 244, 0.22);
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 10px;

    
}

.card {
    width: 300px;
    height: 495px;

    border-radius: 24px;
    border: 1px;
    opacity: 0px;
    border: 1px solid rgba(239, 239, 239, 1);
    box-shadow: 4px 15px 64px 0px rgba(169, 206, 244, 0.22);

}

.card img {
    width: 270px;
    height: 220px;
    margin-top: 10px;
    margin-left: 9px;
    border-radius: 16px;
    opacity: 0px;
    gap: 0px;
}

.card-title {

    gap: 0px;
    opacity: 0px;
    font-family: ' Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #181818;
}
.hotelsDesc {
    width: 226px;
    height: 44px;
    top: 272px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    font-family: ' Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    background: #181818;
    box-shadow: 0px 5px 13px 0px #FFFFFF66;
}

.icon-text-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {

    margin-bottom: 10px;
    gap: 0px;
    opacity: 0px;
    color: #5CC1DA;
}

.Text {
    left: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: rgba(118, 118, 129, 1);


}

h2{
    margin-left: 25px;

}