
section {
    display: flex;
    justify-content: center;   
    text-align: center; 
    margin-top: 30px;
    margin: bottom 10px;
    margin-left: 10px;
    /* gap: 20px; */
}

.navcontainer{
 display: flex;
 margin-bottom: 30px;
}
.container{
 margin: 70px;   
 justify-content: right;
    
}
