<!-- start images -->

<div>
  <div class="grid-container py-3  d-flex  justify-content-center">
    <img src="/assets/images/Rectangle 9571.png" class="grid-item grid-item-1" alt="">
    <img src="/assets/images/Rectangle 9572.png" class="grid-item grid-item-2" alt="">
  
    <div class=" d-block ">
      <img src="/assets/images/Rectangle 9573.png" class="grid-item grid-item-3" alt="">
  
      <img src="/assets/images/Rectangle 9574.png" class="grid-item grid-item-4" alt="">
    </div>
    
  </div>
  <!-----end of images------>
  <!-------------start location box-------------------->
    <div class="subInfo" >
      <h2></h2>
      <div class="ContLeft">
        <i class=" fa fa-location-dot locIcon "></i>
        <span class="Location">{{placeDetails.location}}</span>
      </div>
    </div>
  
  <div class="content">
    <h2>Overview</h2>
  
    <p>
      {{placeDetails.description}}
    </p>
  </div>
</div>
<!-------------------------------------------------- --------------------------------------------------->
<section class="container  container-fluid">
  <!--  -->
  <h3>Available Hotels</h3>
  <div class="container ">
    <div class="card" style="width: 18rem">

      <img    src="/assets/images/Rectangle 9570 (8).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>
          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>

    <!-------------------End of Cared1-------------------------------->

    <!-------------------------------Start of card2--------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>
          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text f-right" style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------------------------End of card2-------------------------->
    <!--- --------start of card 3-------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (9).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!----------------------End of card3------------------------------------>

    <!-----------------------start card4---------------------------------->


    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (10).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>
        <div class="icon-container">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>

    <!-------------------------Eend card4--------------------------------------------->

    <!--------------------------start of card5---------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (8).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!-----------------the end of card5------------------------------------------->
    <!---------------start of card 6--------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />


      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text f-right" style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end of card 6 --------------------------------------------->

    <!---------------start-------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (9).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>


          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>


          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right;">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end --------------------------------------------->
    <!---------------start-------------------------------------------->
    <div class="card" style="width: 18rem">

      <img src="/assets/images/Rectangle 9570 (10).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>
        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>
          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end --------------------------------------------->
  </div>
</section>

<section>
  <div class="container">
  
  </div>
  </section>