.container{
    display: flex;
     position: relative; 
    flex-wrap: wrap;
   }
   .filters h6{
     font-weight: bold;
   }
   .filter2,.filter3,.filter4{
     background-color: #FFF1E3;
     border-radius: 24px;
     border: none ;
     color: black;
     font-weight: bold;
     display: flex;
   }
   .filter2{
    position: absolute;
    width: 120px;
    height: 40px;
    left: -50px;
   }
   .filter3{
     position: absolute;
     left: 300px;
     width: 200px;
     height: 40px;
   }
   .filter4{
    position: absolute;
    left: 800px;
    width: 200px;
    height: 40px;
   }
   button.active{
     background-color: #E7B88A;
     color: #FFFFFF;
   }
   b1:focus{
    background-color: #E7B88A;
    color: #FFFFFF;
  }
 
  .circle{
    background-color: #E7B88A;
    width: 38px;
    height: 38px;
    border-radius:50%;
    position: relative;
    right:5px;
  }
  .filterdiv{
    display: flex;
  }
  .filterdiv1{
    display: flex;
  }
  .filterdiv2{
    display: flex; 
  }
  .filter5 img{
    margin-right: 10px;
  }
  .circle img{
    margin-top: 8px;
   }
   .text{
    margin-top:7px;
    margin-left:7px;
    }
    .text1{
      margin-top: 7px;  
      margin-left:11px;
     }
     .text2{
      margin-top: 7px;  
      margin-left:11px;
     }
     
 
   
 
 
 
 
 
 
 
 
  
