.filters{
    display: flex;
    position: relative;
   }
   .filters h6{
     font-weight: bold;
   }
   .filter1,.filter2,.filter3,.filter4{
     background-color: #FFF1E3;
     border-radius: 24px;
     border: none ;
     color: black;
     font-weight: bold;
     display: flex;
   }
   .filter1{
     position: absolute;
     left:50px;
     width: 74px;
     height: 40px;
   }
   .filter2{
    position: absolute;
    left: 300px; 
    width: 120px;
    height: 40px;
    
   }
   .filter3{
     position: absolute;
     left: 600px;
     width: 200px;
     height: 40px;
   }
   .filter4{
    position: absolute;
    left: 1000px;
     width: 200px;
     height: 40px;
   }
   button:focus{
     background-color: #E7B88A;
     color: #FFFFFF;
   }
   .filter5{
    background-color: #E7B88A;
    width: 110px;
    height: 40px;
    border-radius: 16px;
    border: none ;
    position: absolute;
    left:1350px ;
    color: #FFFFFF;
  }
  .circle{
    background-color: #E7B88A;
    width: 38px;
    height: 38px;
    border-radius:50%;
    position: relative;
    right:5px;
  }
  .filterdiv{
    display: flex;
  }
  .filterdiv1{
    display: flex;
  }
  .filterdiv2{
    display: flex; 
  }
  .filter5 img{
    margin-right: 10px;
  }
  .circle img{
    margin-top: 5px;
   }
   .text{
    margin-top:6px;
    margin-left:7px;
    }
    .text1{
      margin-top: 6px;  
      margin-left:11px;
     }
     .text2{
      margin-top: 6px;  
      margin-left:11px;
     }
     
    .filter1 h6{
     margin-top:7px;
     margin-left:20px;
     }
   
 
 
 
 
 
 
 
 
  
