.filters{
    display: flex;
   }
   .filters h6{
     font-weight: bold;
   }
   .filter1,.filter2,.filter3,.filter4{
     background-color: #FFF1E3;
     border-radius: 24px;
     border: none ;
     color: black;
     font-weight: bold;
   }
   .filter1{
     margin-left: 35px;
     width: 84px;
     height: 48px;
   }
   .filter2{
    margin-left: 100px; 
    width: 139px;
    height: 48px;
   }
   .filter3{
     margin-left: 200px;
     width: 235px;
     height: 48px;
   }
   .filter4{
     width: 229px;
     height: 48px;
   }
   button:focus{
     background-color: #E7B88A;
   }
   .filter5{
     background-color: #E7B88A;
     width: 128px;
     height: 48px;
     border-radius: 16px;
     border: none ;
     margin-left: 150px;
     color: #FFFFFF;
   }
 .filter5 img{
   margin-right: 10px;
 }
 .circle{
   background-color: #E7B88A;
   width: 48px;
   height: 48px;
   border-radius:50%;
 }
 .filterdiv{
   display: flex;
   position: absolute;
   top: 100px;
   right: 1210px; 
 }
 .text{
 margin-top:10px;
 margin-left:15px;
 }
 .filterdiv1{
   display: flex;
   position: absolute;
   top: 100px;
   right: 795px;  
 }
 .text1{
  margin-top: 12px;  
  margin-left:17px;
 }
 .filterdiv2{
   display: flex;
   position: absolute;
   top: 100px;
   right: 363px; 
 }
 .text2{
   margin-top: 12px;  
   margin-left:20px;
  }
  .filter1 h6{
   margin-top:5px;
  }
  .circle img{
   margin-top: 10px;
  }