<div class="container mt-4">
    <button onclick="" type="button" class="filter1">
        <h6>All</h6>
       </button>
    <!-------------------------------- -------------------------------->
    <button class="filter2 " routerLink="hotel">
        <div class="filterdiv">
            <div class="circle"><img src="/assets/images/hotel.png" alt="hotel icon"></div>
            <div class="text">Hotels</div>
        </div>
       </button>
    <!------------------------------------- ------------------------------->
    <button class="filter3 ">
        <div class="filterdiv1">
        <div class="circle"><img src="/assets/images/touristic.png" alt="touristic icon"></div>
        <div class="text1">Touristic Places</div>
        </div>
       </button>
    <!------------------------------------- ------------------------->
    <button class="filter4 ">
        <div class="filterdiv2">
        <div class="circle"><img src="/assets/images/coastal.png" alt="coastal icon"></div>
        <div class="text2">Coastal Places</div> 
        </div>
       </button>
    <!----------------------------- ------------------------------------>
        <button class="filter5 ">
            <img src="/assets/images/filter.png" alt="" srcset="">
            Filter 
        </button>
    <!-------------------------------- --------------------------------->
    
</div>
   
 
