<section>
  <div class="container">
    <div class="row">
      <div class="title">
        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="./assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex1.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex2.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex3.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex4.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex5.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex6.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex7.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex8.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex9.PNG" />
        </div>

        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
          <img class="rounded-4 w-10% mt-5 ms-5" src="assets/images/ex10.PNG" />
        </div>


        <div class="col-3">
          <div class="image">
            <img class="rounded-circle  mt-5 ms-5 d-flex" src="assets/images/disc.png" />
          </div>
          <div class="name">
            <h3>discovery<img src="assets/images/rig.png" />
              <h6>.2d</h6>
            </h3>
          </div>
        </div>
        <div class="prg">
          <p class="ms-5 me-5 text-start">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a typ</p>
        </div>
      </div>
    </div>
  </div>
</section>
