.image img{
  width: 20%;
  position: relative;
  top: 50px;
}
.name h3{
  font-size: 30px;
  position: relative;
  top: 0px;
  left:120px ;
}
.name img{
  width: 10%;
}
.name h6{
  color: darkgray;
  position: relative;
  bottom:25px;
  left: 170px;
}
.prg{
  position: relative;
  top: 20px;
}
