 <app-filters></app-filters>
  <!------------------------------------ coastal and touristic places slider 16 card ---------------------->
<h2 id="hotels">Discover Egypt</h2>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!------------------------------------------card start  -------------------------------------->
        <div class="cardcontainer">
          <div class="card " style="width: 18rem;">
            <img src="/assets/images/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
              <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
              <a routerLink="/hotel">
                <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
              </a>
            </div>
          </div>
          <!------------------------------- 2 ------------------------------------>
        <div class="card " style="width: 18rem;">
            <img src="/assets/images/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
              <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
              <a routerLink="/hotel">
                <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
              </a>
            </div>
          </div>
          <!------------------------------- 3------------------------------------>
        <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (1).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
        <!-------------------------------4 ------------------------------------>
        <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (2).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
        <!------------------------------- 5------------------------------------>
        <div class="card " style="width: 18rem;">
            <img src="/assets/images/Rectangle 9570 (3).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
              <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
              <a routerLink="/hotel">
                <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
              </a>
            </div>
          </div>
          <!-------------------------------6 ------------------------------------>
        <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (4).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
         <!------------------------------- 7 ------------------------------------>
         <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (5).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
         <!------------------------------- 8------------------------------------>
         <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (6).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
         </div>
      </div>
      <!------------------------------------------------- second item ----------------------------------------->
      <div class="carousel-item">
        <div class="cardcontainer">
          <div class="card " style="width: 18rem;">
            <img src="/assets/images/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
              <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
              <a routerLink="/hotel">
                <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
              </a>
            </div>
          </div>
          <!-------------------------------2 ------------------------------------>
        <div class="card " style="width: 18rem;">
            <img src="/assets/images/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
              <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
              <a routerLink="/hotel">
                <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
              </a>
            </div>
          </div>
          <!------------------------------- 3------------------------------------>
        <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (1).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
        <!-------------------------------4 ------------------------------------>
        <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (2).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
        <!------------------------------- 5------------------------------------>
        <div class="card " style="width: 18rem;">
            <img src="/assets/images/Rectangle 9570 (3).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
              <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
              <a routerLink="/hotel">
                <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
              </a>
            </div>
          </div>
          <!------------------------------- 6------------------------------------>
        <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (4).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
         <!------------------------------- 7------------------------------------>
         <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (5).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
         <!------------------------------- 8------------------------------------>
         <div class="card " style="width: 18rem;">
          <img src="/assets/images/Rectangle 9570 (6).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
            <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
            <a routerLink="/hotel">
              <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
            </a>
          </div>
        </div>
         </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  




  <!-------------------------------------------------- Hotels 8 cards  ----------------------------------------------------->
  <h2 id="hotels">Trending Hotels</h2>
  <div class="cardcontainer">
    <div class="card " style="width: 18rem;">
      <img src="/assets/images/card1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
        <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
        <a routerLink="/hotel">
          <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
        </a>
      </div>
    </div>
    <!------------------------------- ------------------------------------>
  <div class="card " style="width: 18rem;">
      <img src="/assets/images/card2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
        <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
        <a routerLink="/hotel">
          <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
        </a>
      </div>
    </div>
    <!------------------------------- ------------------------------------>
  <div class="card " style="width: 18rem;">
    <img src="/assets/images/Rectangle 9570 (1).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="/hotel">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
  <!------------------------------- ------------------------------------>
  <div class="card " style="width: 18rem;">
    <img src="/assets/images/Rectangle 9570 (2).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="/hotel">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
  <!------------------------------- ------------------------------------>
  <div class="card " style="width: 18rem;">
      <img src="/assets/images/Rectangle 9570 (3).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
        <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
        <a routerLink="/hotel">
          <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
        </a>
      </div>
    </div>
    <!------------------------------- ------------------------------------>
  <div class="card " style="width: 18rem;">
    <img src="/assets/images/Rectangle 9570 (4).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="/hotel">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
   <!------------------------------- ------------------------------------>
   <div class="card " style="width: 18rem;">
    <img src="/assets/images/Rectangle 9570 (5).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="/hotel">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
   <!------------------------------- ------------------------------------>
   <div class="card " style="width: 18rem;">
    <img src="/assets/images/Rectangle 9570 (6).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="/hotel">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
   </div>