
/*------------------- Start--Main-Containr----------------------------*/
.Main-Container {
    margin-right: 20px;
    gap: 0px;
    border-radius: 40px 0px 0px 0px;
    opacity: 0px;
  justify-content: center;
  margin-left: 10px;
}



.section {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
    margin-left: 10px;
    /* margin-right: 40px; */
    gap: 50px;
}

/* Styling for the hotel container */
.hotel-container {
    display: flex;
    width: 880px;
    height: 176px;
    top: 273px;
    left: 40px;
    gap: 2px;
    border-radius: 18px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(234, 251, 255, 1);
    margin-bottom: 100px;

}








/* Styling for the hotel image */
.img-container {
    padding-bottom: 20px;
}

.img-container img {
    display: block;
        max-width: 170px;
    height: 170px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}



/* Styling for hotel name and icons */
.hotel-name {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

/* Styling for icons */
.icon {
    font-size: 24px;
    margin-right: 5px;
    margin-bottom: 10px;
    gap: 0px;
    opacity: 0px;
    color: #5CC1DA;
}


/*--------------------Upper Form Styling ----------------*/
.Form {
    width: 390px;
    margin-right: 25px;

}

.Check {
    width: 822px;
    height: 70px;
    left: 40px;
    gap: 0px;
    border-radius: 16px;
    border: 2px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(234, 251, 255, 1);
    margin-bottom: 30px;


}

.color {
    width: 24px;
    height: 24px;
    gap: 0px;
    border-radius: 4px;
    border: 2px;
    opacity: 0px;
    border: 2px solid rgba(234, 251, 255, 1);
    margin-left: 0px;
    margin-top: 20px;
}

.Icon {
    margin-top: 5px;
    margin-left: 20px;
    width: 56px;
    height: 56px;
    left: 64px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: rgba(247, 247, 249, 1);

}

.marg {
    margin-top: 11px;
    color: #5CC1DA;
}

.text-end {
    display: block;
    margin-top: 35px;
    margin-left: 235px;
    width: 118px;
    height: 20px;
    top: 34px;
    left: 680px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align:right;
    color: rgba(24, 24, 24, 1);

}

.text-end2 {
    margin-left: 467px;
    margin-top: 35px;
    width: 118px;
    height: 20px;
    top: 34px;
    left: 680px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: right;
    color: rgba(0, 0, 0, 1);

}

.text-color {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(173, 183, 192, 1);
}

/*------------------------card--Styling-------------------*/
.card-container {
    margin-right: 20px;
    width: 300px;
    height: 540px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 15px 64px 0px rgba(169, 206, 244, 0.12);
    justify-content: space-between;

}

/*------------------------------------------Card-title--styling----------------------------------------------*/

.card-title {
    width: 213px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 400;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(24, 24, 24, 1);

}

/*------------------------------------------Card-body-Styling--------------------------------------------------*/

.upper {
    justify-content: left;
    width: 265px;
    height: 248px;
    margin-top: 10px;
    margin-right: 20px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background: rgba(255, 255, 255, 0.26);

}

/*----------------------------------------Date-reservation------------------------------------------------------*/

.box {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.date {

    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: rgba(55, 56, 56, 1);


}

.divider {
    width: 48px;
    height: 0px;
    gap: 0px;

    opacity: 0px;
    color: rgba(92, 193, 218, 1);
    rotate: -90deg;
    border: 2px solid rgba(92, 193, 218, 1)
}



.total {
    margin-left: 10px;
}

.Total {
    justify-content: left;

}

.card-titels {
    height: 17px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: rgba(4, 127, 158, 1);
    margin-right:40px;

}

/*----------------section2---------------*/
.section2 {
    justify-content: left;
    margin-bottom: 70px;
    margin-top: 0px;

}



.section2 p {
    width: 82px;
    height: 15px;
    top: 213px;
    left: 8px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(55, 56, 56, 1);
    display: block;
}

/*-------------------section3-styling--------------------*/
.section3 {
    display: block;
    width: 400px;
    height: auto;

}
/*------------------left&right sides in section3-----------------------*/
.Left {
    width: 120px;
    height: 24px;
    margin-right: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(24, 24, 24, 1);

}
.Right{
 width: 49px;
height: 15px;
margin-left: 30px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 15px;
text-align: left;
color: rgba(55, 56, 56, 1);

}

/*------------total price --------------*/
.last{
display: flex;
height: 15px;
justify-content: space-between;
opacity: 0px;
margin-bottom: 40px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 15px;
text-align: left;
color: rgba(55, 56, 56, 1);

}
/*----------------------------------------Card-botton--styling----------------------------------------------------*/
.botton {
    width: 250px;
    height: 40px;
    padding: 9px 50px 11px 50px;
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    opacity: 0px;
    color: #fff;
    border:1px solid #5CC1DA;
    background: rgba(87, 172, 193, 1);

}