<!------------------------Start Main Container---------->
<div class="Main-Container" id="step2">
  <!-----stepper------------------------------------------------>

  <!-- <div class="container">
    <ul class="list-unstyled multi-steps">
      <li class="completed">Step 1</li>
      <li class="active">Step 2</li>
      <li>Step 3</li>
      <li>Step 4</li>
    </ul>


  </div> -->
  <!------------------------------------Stepper End--------------------------------------------------------------->

  <!-------------------------------------Start-Primary-container--------------------------------------------------->
  <div class="section mt-5">
    <div class="d-flex gap-4">
      <div class="left">
        <!---------------------------------Hotel-Container---------------------------------------------------------->
        <div class="hotel-container">
          <div class="img-container d-block">
            <img src="/assets/images/hotel2.jpg" alt="" class="hotel-image" />
          </div>
          <div class="">
            <div class="">
              <h2 class="hotel-name">Lakeside Motel Warefront</h2>
              <div>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fas fa-star-half text-warning"></i>
                <span>4.5 (1200 Reviews)</span>
              </div>
            </div>

            <section class="row mt-5 fa-0m">
              <div class="col md-6 mx-auto">
                <span class="d-block text-cente">3Beds</span>
                <i class="fas fa-bed d-block icon"></i>
              </div>
              <div class="col md-5 mx-auto">
                <span class="text-center">Guests</span>
                <div><i class="fa fa-user-group d-block icon"></i></div>
              </div>
              <div class="col md-5 mx-auto">
                <span class="d-block text-center">Bathroom</span>
                <i class="fas fa-user-group d-block icon"></i>
              </div>
              <div class="col md-5 d-block mx-auto">
                <span class="d-block text-center">WiFi</span>
                <i class="fas fa-wifi d-block mx-auto icon"></i>
              </div>
            </section>
          </div>
        </div>
        <!--------------------------------end-Hotel-Container------------------------------------------------------>

        <!---------------------------------Start-Form-Inputs------------------------------------------------------->

        <form action="" class=" ">
          <h4>Enter your detailes</h4>

          <!------------------------------Inputs------------------------------------->
          <div class="form-group">
            <div class="d-flex gap-5">
              <div class="col-md-6 col-lg-3 mb-5 Form">
                <label for="input1">First Name</label>
                <input type="text" class="form-control" id="input1" placeholder="" />
              </div>
              <!------------------------------------------------------------------->
              <div class="col-md-6 col-lg-3 mb-5 Form">
                <label for="input2">Last Name</label>
                <input type="text" class="form-control" id="input2" placeholder="" />
              </div>
            </div>
            <!----------------------------------------------------------------------->
            <div class="d-flex gap-5">
              <div class="col-md-6 col-lg-3 mb-5 mt-2 Form">
                <label for="input3"> E-mail</label>
                <input type="text" class="form-control" id="input3" placeholder="" />
              </div>
              <!---------------------------------------------------------------------->
              <div class="col-md-6 col-lg-3 mb-5 mt-2 Form">
                <label for="input4">Phone Number</label>
                <input type="text" class="form-control" id="input4" placeholder="" />
              </div>
              <!----------------------------------------------------------------------->
            </div>
          </div>
          <!-----------------------------End-Inputs-------------------------------->

          <!-----------------------------check--options-box-------------------------------------------------------->
          <div class="form-group">
            <!------------------------option1------------------------------->
            <div class="form-check Check">
              <input class="form-check-input color" type="checkbox" value="" id="checkOption1" />
              <label class="form-check-label d-flex position-relative" for="checkOption1">
                <div class="d-flex gap-2">
                  <div class="Icon text-center">
                    <i class="fas fa-car marg fs-1"></i>
                  </div>
                  <div class="d-flex">
                    <div class="mt-2">
                      <h6>park</h6>
                      <p class="text-color">
                        Lorem ipsum Lorem ipsum Lorem ipsum
                      </p>
                    </div>
                    <p class="text-end">from $20/night</p>
                  </div>
                </div>
              </label>
            </div>
            <!------------------------option2-------------------------------->
            <div class="form-check Check">
              <input class="form-check-input color" type="checkbox" value="" id="checkOption1" />
              <label class="form-check-label" for="checkOption1">
                <div class="d-flex gap-2">
                  <div class="Icon text-center">
                    <i class="fa fa-shield-dog fs-1 marg"></i>
                  </div>

                  <div class="d-flex">
                    <div class="mt-2">
                      <h6>park</h6>
                      <p class="text-color">Lorem ipsum</p>
                    </div>

                    <p class="text-end2">from $20/night</p>
                  </div>
                </div>
              </label>
            </div>
            <!------------------------optipon3------------------------------->
            <div class="form-check Check">
              <input class="form-check-input color" type="checkbox" value="" id="checkOption1" />
              <label class="form-check-label d-flex" for="checkOption1">
                <div class="d-flex gap-2">
                  <div class="Icon text-center">
                    <i class="fas fa-car marg fs-1"></i>
                  </div>

                  <div class="d-flex">
                    <div class="mt-2">
                      <h6>park</h6>
                      <p class="text-color">
                        Lorem ipsum Lorem ipsum Lorem ipsum
                      </p>
                    </div>
                    <p class="text-end">from $20/night</p>
                  </div>
                </div>
              </label>
            </div>
            <!-------------------------option4-------------------------------->
            <div class="form-check Check">
              <input class="form-check-input color" type="checkbox" value="" id="checkOption1" />
              <label class="form-check-label" for="checkOption1">
                <div class="d-flex gap-2">
                  <div class="Icon text-center">
                    <i class="fa fa-shield-dog fs-1 marg"></i>
                  </div>

                  <div class="d-flex">
                    <div class="mt-2">
                      <h6>park</h6>
                      <p class="text-color">Lorem ipsum</p>
                    </div>

                    <p class="text-end2">from $20/night</p>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <!-----------------ckeck-box----end------------------------------->
        </form>
      </div>

      <!------------------ Responsive--reservation Card--------------------------------------------->

      <div class="card text-center card-container">
        <div class="card-body ">
          <h5 class="card-title mt-0">Reservation Summary</h5>
          <div class="upper">
            <div class=" row d-flex  ml-1">
              <div class=" col date ">


                <p>Check.In</p>
                <p>Sun,22May2024</p>
                <p>From 16:00</p>

              </div>
              <br class="br">
              <!-------------------start-reghit-side-------------------------------------->
              <div class=" col date regit-date ms-auto">
                <p>Check.In</p>
                <p>Sun,22May2024</p>
                <p>From 16:00</p>
              </div>
            </div>





          </div>

          <div class="d-block  " >

          </div>

          <!---------------------------------- لازم أعمل الروتينج هنا فمتنسيييييييييييييييييييييييييش-------------------------------->

          <a href="#" class="btn botton">Confirm Booking</a>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------End-Primary-container--------------------------------->
</div>