<!-- start images -->
<div class="grid-container py-3 ">
  <img src="/assets/images/Rectangle 9571.png" class="grid-item grid-item-1" alt="">
  <img src="/assets/images/Rectangle 9572.png" class="grid-item grid-item-2" alt="">

  <div class="">
    <img src="/assets/images/Rectangle 9573.png" class="grid-item grid-item-3" alt="">

    <img src="/assets/images/Rectangle 9574.png" class="grid-item grid-item-4" alt="">
  </div>
  
</div>
<!-----end of images------>
<!-------------start location box-------------------->

  
  <div class="subInfo">


    <h2>Lakeside Motel Warefront</h2>
    <div class="icon-text-row">
      <i class=" fa fa-location-dot locIcon "></i>
      <span class="Location">Lorem ipsum road, Tantruim-2322, Melbourne, Australia </span>
    </div>
  </div>

<div class="content">
  <h2>Overview</h2>

  <p>
    Featuring free WIFI throughout the property, Lakeside Motel Waterfront offers accommodations in Lakes
    Entrance, 19 mi from Bairnsdale. Free private parking is available on site.
    Each room at this motel is air conditioned and comes with a flat-screen TV. You will find a kettle, toaster
    and a microwave in the room. Each room is fitted with a private bathroom. Guests have access to barbecue
    facilities and a lovely large lawn area. Metung is 6.8 mi from Lakeside Motel Waterfront, while Paynesville
    is 14 mi from the property.
    Couples in particular like the location – they rated it 9.2 for a two-person trip
  </p>

</div>