.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.grid-item {
    width: auto;
    height: 200px;
    /* Adjust the height as needed */
}

.grid-item-1 {
    grid-column: span 6;
    width: 540px;
    height: 373px;
    top: 120px;
    left: 40px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
}

.grid-item-2 {
    grid-column: span 3;
    width: 330px;
    height: 376px;
    top: 120px;
    left: 716px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;

}

.grid-item-3,
.grid-item-4 {
    grid-column: span 3;
    height: 100px;
    width: 320px;
    height: 180px;
    margin-bottom: 10px;
    margin-left: 6px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;

    /* Half the height of the first two images */
}

p {
    width: 740px;
    height: 172px;
    top: 732px;
    margin-left: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(79, 79, 79, 1);

}

h2 {
    margin-left: 25px;
}
/* 
width: 113px;
height: 29px;
top: 687px;
left: 40px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(24, 24, 24, 1);

}

*/ .subInfo { 
    width: Fixed (437px)px;
    height: Hug (100px)px;
    margin-left: 50px;
    margin-bottom:150px ;
    gap: 12px;
    opacity: 0px;

}

.Location {
    width: 384px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(51, 51, 51, 1);

}

.locIcon {
    width: 18px;
    height: 21.73px;
    top: 2px;
    left: 3px;
    gap: 0px;
    opacity: 0px;
    color: rgba(92, 193, 218, 1);

}

.icon-text-row {
    margin-left: 26px;
}

.content {
    margin-top:30px ;
    margin-bottom: 50px;
}