<div class="hoteldetails">
<!-------------------------------- photo grid ---------------------------------->
<div class="photocontainer">
    <div  class="row">
        <div class="col-6 ">
            <img  src="/assets/images/hotel.jpg" alt="">
            </div>
    </div>
    <div class="col-3">
        <img class="hotel2" src="/assets/images/hotel2.jpg" alt="">
    </div>
        <div class="col-3">
            <img class="hotel3" src="/assets/images/hotel3.jpg" alt="">
            <img class="hotel4" src="/assets/images/hotel4.jpg" alt="">     
        </div>  
</div>
<!--------------------------------------hotel detailes ------------------------------------->
<div class="">
    <div  class="row">
        <div class="col-8 ">
<!--------------------------------------hotel name ------------------------------------->
            <div class="hotelname" >
            <h3>Lakeside Motel Warefront</h3>
            <div class="location">
                <img src="/assets/images/location.png" alt="">
                <p>Lorem ipsum road, Tantruim-2322, Melbourne, Australia</p>
                </div>
            </div>
<!--------------------------------------------------- hotel overview--------------------------------------->
            <div class="overview">
                <h4>Overview</h4>
                <p>Featuring free WIFI throughout the property, Lakeside Motel Waterfront offers accommodations in Lakes Entrance, 19 mi from Bairnsdale. Free private parking is available on site.
                    Each room at this motel is air conditioned and comes with a flat-screen TV. You will find a kettle, toaster and a microwave in the room. Each room is fitted with a private bathroom. Guests have access to barbecue facilities and a lovely large lawn area. Metung is 6.8 mi from Lakeside Motel Waterfront, while Paynesville is 14 mi from the property.
                    Couples in particular like the location – they rated it 9.2 for a two-person trip.</p>
             </div>
           

 <!----------------------------------------------- hotel facilities ------------------------------------------------------->
 <div class="facilities">
    <h4>Top facilities</h4>
 </div>
 <div class="hotelfacilities">
    <div class="group1">
        <div> <img src="assets/images/home-wifi 1.png" alt=""> Free wifi</div>
        <div> <img src="assets/images/wind 1.png" alt=""> Air Conditioning</div>
        <div> <img src="assets/images/car 1.png" alt=""> Parking available</div>
    </div>
    <div class="group2">
        <div> <img src="assets/images/bag-tick-2 1.png" alt=""> Business Services</div>
        <div> <img src="assets/images/lifebuoy 1.png" alt=""> Swimming pool</div>
        <div> <img src="assets/images/like-1 1.png" alt=""> Top rated in area</div>
    </div>
    </div>
    <!----------------------------------------------- included ------------------------------------------------------->
   
    <div  class="included" >
    <p>What is included</p>
    </div>
    <div class="bedrooms">
       <div class="bed1">
        <img src="assets/images/bed.png" alt="">
        <h5>Bedroom5</h5>
        <p>3 Single beds</p>
       </div>
       <div class="bed1">
        <img src="assets/images/bed.png" alt="">
        <h5>Bedroom5</h5>
        <p>3 Single beds</p>
       </div>
       <div class="bed1">
        <img src="assets/images/sweet.png" alt="">
        <h5>Sweet</h5>
        <p>3 Single beds</p>
       </div>
    </div>
<!----------------------------------------------- safety -------------------------------------------------------> 
   <div class="safety">
    <p class="p1">Safety</p>
    <p class="p2">Health precautions</p>
    <ul>
    <li>All required protective equipment is provided</li>
    <li> All areas that customers touch are frequently cleaned</li>
    <li>You must keep social distance while in vehicles</li>
    <li>The number of visitors is limited to reduce crowds</li>
    </ul>
   </div>
<!---------------------------------------------------- reviews ----------------------------------------------------------->
    <div class="reviews">
    <p class="review">Review</p>
    <div class="head">
    <img src="assets/images/star.png" alt="">
    <p>5.0</p>
    <p>5 reviews</p>
    </div>
<!---------------------------------------- reviewwww ------------------------------------------------------->
<div class="profile">
    <div class="image">
        <img src="assets/images/profile.png" alt="">
    </div>
    <div class="rate">
        <img src="assets/images/rate (1).png" alt="">
        <p class="name">Arlene McCoy</p>
        <p class="dates">2 October 2012</p>
    </div>
    <div class="comment">
    <p class="first">Good tour, really well organised</p>
    <p class="second">The tour was very well organised. One minus is that you get completely bombarded with information. You also have to stand up for too long at the private entrance to the Tower of London, which leads to a lack of time later. Lunch was the same, too stress, the quality was great but you couldn't enjoy it. I'd like to ask the organisers: please</p>
    </div>
</div>
<!------------------------------------------------------- ----------------------------------------------------------->
<div class="profile">
    <div class="image">
        <img src="assets/images/profile 2.png" alt="">
    </div>
    <div class="rate">
        <img src="assets/images/rate (1).png" alt="">
        <p class="name">Jenny Wilson</p>
        <p class="dates">2 October 2012</p>
    </div>
    <div class="comment">
    <p class="first">Informative but disappointed not seeing changing of the guards</p>
    <p class="second">The tour was very well organised. One minus is that you get completely bombarded with information. You also have to stand up for too long at the private entrance to the Tower of London, which leads to a lack of time later. Lunch was the same, too stress, the quality was great but you couldn't enjoy it. I'd like to ask the organisers: please</p>
    </div>
     <hr>
</div>
<!------------------------------------------------- ------------------------------------------------->
<div class="profile">
    <div class="image">
        <img src="assets/images/profile3.png" alt="">
    </div>
    <div class="rate">
        <img src="assets/images/rate (1).png" alt="">
        <p class="name">Ralph Edwards</p>
        <p class="dates">2 October 2012</p>
    </div>
    <div class="comment">
    <p class="first">I love their way of style</p>
    <p class="second">The tour was very well organised. One minus is that you get completely bombarded with information. You also have to stand up for too long at the private entrance to the Tower of London, which leads to a lack of time later. Lunch was the same, too stress, the quality was great but you couldn't enjoy it. I'd like to ask the organisers: please</p>
    </div>
     <hr>
</div> 
</div>
</div>
 <!---------------------------------------------------- payment ------------------------------------------------>
 <div class="col-4">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Booking</h5>
          <hr/>
          <form action="">
           <label for="">From</label> <br/>
           <input class="date" type="date">
           <label for="">To</label> <br/>
           <input class="date" type="date">
           <label class="guest" for="">No. Of Guests</label> <br/>
           <input class="date" type="number" >
          </form>
          <h3>$78.90</h3>
          <div class="booking">
            <button type="button" class="btn">Confirm Booking</button>
          </div>
          <div class="fav">
            <button type="button" class="btn">
            <img src="/assets/images/fav.png" alt=""> 
                Save to wishlist</button>
          </div>
        </div>
      </div>
      
</div>
    </div>
</div>
</div>
