
<section class="container  container-fluid">
  <!--  -->
  <h3>Available Hotels</h3>
  <div class="container ">
    <div class="card" style="width: 18rem">

      <img    src="/assets/images/Rectangle 9570 (8).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>
          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>

    <!-------------------End of Cared1-------------------------------->

    <!-------------------------------Start of card2--------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>
          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text f-right" style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------------------------End of card2-------------------------->
    <!--- --------start of card 3-------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (9).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!----------------------End of card3------------------------------------>

    <!-----------------------start card4---------------------------------->


    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (10).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>
        <div class="icon-container">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>

    <!-------------------------Eend card4--------------------------------------------->

    <!--------------------------start of card5---------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (8).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!-----------------the end of card5------------------------------------------->
    <!---------------start of card 6--------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (7).png" class="card-img-top" alt="..." />


      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text f-right" style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end of card 6 --------------------------------------------->

    <!---------------start-------------------------------------------->
    <div class="card" style="width: 18rem">
      <img src="/assets/images/Rectangle 9570 (9).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>

        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>


          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>


          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right;">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end --------------------------------------------->
    <!---------------start-------------------------------------------->
    <div class="card" style="width: 18rem">

      <img src="/assets/images/Rectangle 9570 (10).png" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">
          Hotel Alaska: Westminster to Greenwich River Thames
        </h4>
        <div class="icon-container  ">
          <div class="icon-text-row">
            <i class="fa fa-wifi icon"></i>
            <span class="Text"> WIFI</span>
          </div>
          <div class="icon-text-row">
            <i class="fa fa-car-side icon"></i>
            <span class="Text"> Transport Facility</span>
          </div>

          <div class="icon-text-row">
            <i class="fa fa-user-group icon"></i>
            <span class="Text">Family Plan </span>
          </div>
          <p class="text " style="float: right">$35.00</p>
        </div>
      </div>
    </div>
    <!---------------end --------------------------------------------->



  </div>
</section>