<app-filters></app-filters>
<div class="search">
  <input type="" id="searchField" placeholder="search here..."   
  [(ngModel)]="Term"
  />

  <div class="cardcontainer">
    <div class="card "  *ngFor="let place of coastalplaces| coastalSearchPipe:Term">
      <img src="/assets/images/card1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{place.description}}</p>
        <a [routerLink]="['/selectedplace', place.id]">
          <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
        </a>
      </div>
    </div>
  </div>
