
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --bg-main:#FFFFFF;
    --font-main: "Inter", sans-serif;
}
body{
    background-color:var(--bg-main)  ;
    font-family:var(--font-main);
}

  




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
