  <div class="cardcontainer">
  <div class="card " style="width: 18rem;">
    <img src="/assets/images/card1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="hotels/:id">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
  <!------------------------------- ------------------------------------>
<div class="card " style="width: 18rem;">
    <img src="/assets/images/card2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="hotels/:id">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
  <!------------------------------- ------------------------------------>
<div class="card " style="width: 18rem;">
  <img src="/assets/images/Rectangle 9570 (1).png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
    <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
    <a routerLink="hotels/:id">
      <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
    </a>
  </div>
</div>
<!------------------------------- ------------------------------------>
<div class="card " style="width: 18rem;">
  <img src="/assets/images/Rectangle 9570 (2).png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
    <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
    <a routerLink="hotels/:id">
      <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
    </a>
  </div>
</div>
<!------------------------------- ------------------------------------>
<div class="card " style="width: 18rem;">
    <img src="/assets/images/Rectangle 9570 (3).png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
      <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
      <a routerLink="hotels/:id">
        <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
      </a>
    </div>
  </div>
  <!------------------------------- ------------------------------------>
<div class="card " style="width: 18rem;">
  <img src="/assets/images/Rectangle 9570 (4).png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
    <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
    <a routerLink="hotels/:id">
      <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
    </a>
  </div>
</div>
 <!------------------------------- ------------------------------------>
 <div class="card " style="width: 18rem;">
  <img src="/assets/images/Rectangle 9570 (5).png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
    <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
    <a routerLink="hotels/:id">
      <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
    </a>
  </div>
</div>
 <!------------------------------- ------------------------------------>
 <div class="card " style="width: 18rem;">
  <img src="/assets/images/Rectangle 9570 (6).png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Unveiling the Ancient Wonders of Egypt</h5>
    <p class="card-text">Li Europan lingues es membres del sam  lor separat existentie es un myth...</p>
    <a routerLink="hotels/:id">
      <img class="arrow" src="/assets/images/cont.png" alt="" srcset="">
    </a>
  </div>
</div>
 </div>
 
